@niceBlue : #6492FD;
@fafa: #fafafa;
body{
	background-color: @fafa;
}

.teaser{
    border-left-color: @niceBlue;
    border-left-style: solid;
    border-left-width: 5px;
    margin-bottom: 10px;
    padding:5px;
    background-color: white;
}

.teaserImg{
	height: 34px;
	width: 30px;
	background-color: black;
	/*position: absolute;*/
	display: inline-block;
	vertical-align: top;
	float:left;
}

.getDescription{
	font-weight: bold;	
	font-family: arial;
	font-variant: small-caps;
}

.inlineDiv
{
	display: block;
}

h4{
	display: inline;
}

.locDateTime{
	border-top-color: @fafa;
	border-top-style: solid;
	border-top-width: 1px;
}

.loc{
	float:left;
}

.dateTime{
	float:right;
}